<%= form_for :book, url: book_path(@book.id => :book_id), method: :patch do |f| %>

<p>
  <%= f.label :title %><br>
  <%= f.text_area :title %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label :url %><br>
  <%= f.url_field :url %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
