<h1>Books</h1>

<%= link_to "Add new book", new_book_path %>
<div>

<% @books.each do |book| %><hr>
  Title: <%= book.title %><br>
  Description: <%= book.description %><br>
  URL: <%= book.url %><br><hr>
  Role <%= book.user.role %>
<% end %>

</div>
