<h1>Books</h1>

<%= link_to "Add new book", new_book_path %>
<div>

<% @books.each do |book| %><hr>
  Title: <%= link_to "#{book.title}", book_path(book)  %></a><br>
  Description: <%= book.description %><br>
  URL: <%= book.url %><br>
  Role: <%= book.user.role %>
<%= button_to 'Delete Question', book_path(:books_id), method: :delete,
data: { confirm: 'Are you sure?' } %> <hr>
<% end %>

</div>
