<!-- show each book's detail -->
<div>
  Title: <%= @book.title %><br>
  Description: <%= @book.description %><br>
  URL: <%= @book.url %><br>
</div><hr>

<!-- show each review -->
<div>
  <% @book.reviews.each do |review| %>
    Review: <%= review.description %><hr>
  <% end %>
</div>


<%= render "reviews/reviewform" %>
