<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


  <title>BookReviewsInSpace</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- devise -->
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
  <%= link_to "Home", root_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %> </p>
    <!--=======================================-->

  <!-- devise -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
   <!--=======================================-->

   <!-- anything in this container will get shifted when page is resized -->
   <div class="jumbotron">
     <h1>Goodreads in Space</h1>
   </div>

   <div class="container">
     <div class="row">


       <div class="col-md-12" id="middle">


         <div class="media">
           <div class="media-body">
             <p class="media-heading"><%= yield %></p>
           </div>
         </div>

         <hr/>  <!-- separator line -->

       </div>

       <div class="col-md-4" id="right-bar"></div>
     </div>
   </div>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>
